/* src/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-geist-mono: 'Fira Code', monospace;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
