/* src/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark; /* belangrijk voor iOS */
  --background: #0a0a0a;
  --foreground: #ededed;
  --font-geist-sans: 'Geist Sans', Arial, Helvetica, sans-serif;
  --font-geist-mono: 'Fira Code', monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans);
}
